.all-page{
    background-color:#1F1F1F;
}

.navbar{
     /* position: fixed;  */
    height: 70px;
    width:100%;
    background-color: #121212;
    display: flex;
    flex-direction: row;
    align-items: center;
   
    color:white;   
}

.name{
   font-size: 25px;
  flex-grow: 1;
  margin-left: 15px;
}

.content{
   padding-right: 20px;
  


}

.content1{
   
    margin-right: 10px;     
    font-size: 20px;
    color:#E0E0E0;  
    text-decoration: none;
    margin-left: 32px;
}

/* .content1 .hover{
  color:#4CAF50;
} */

@media(max-width:700px){
.content{
    display: none;
}
}

.toggle-btn {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 30px;
    z-index: 1100;
  }
  
 
  .sidebar {
    position: fixed;
    top: 20px;
     right: -80px; 
    width: 80px;
    height: 210px;
    line-height: 7px;
   background-color: #121212;
    color: white;
    transition: right 0.3s ease-in-out;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .sidebar.open {
      right: 0; 
  }
  
  /* .sidebar.closed {
      right: -250px; 
  } */
  
  .content5 {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .nav-item {
    color: white;
    text-decoration: none;
    padding: 15px 0;
    display: block;
  }
  
  .nav-item:hover {
    background: #7f5353;
  }
  
  
  @media (min-width: 768px) {
    .toggle-btn {
      display: none;
    }
  }
  
  