.home{
    text-align: justify;
    display:flex;
    flex-direction: row;
     justify-content:space-around;
     align-items:center;
    height:720px;
    /* background-color:#464d5c; */
}



.home-content{
    display:flex;
    flex-direction: column;
    width:50%; 
   color:white;
    font-size: 20px;
    margin-bottom: 80px;
   
}

.typewriter-container {
  font-family: 'Courier New', monospace;
  font-size: 2rem;
  font-weight: bold;
   display: block; 
  white-space: normal;
  overflow: hidden;
  max-width: 100%;
  word-break: break-word;
}


.typewriter-text {
  color: #0ef;
}

.typewriter-cursor {
  display: inline-block;
  width: 2px;
  /* background-color: #333; */
  margin-left: 4px;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@media (max-width: 600px) {
  .typewriter-container {
    font-size: 1.4rem;
  }
}


.info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
}


.btn1{
    height:40px;
    background-color: aqua;
    color:white;
    width: 170px;
    border-radius: 25px;
    font-size: 1rem;
   margin-top:20px;
   text-decoration: none;
   border:none ; 
    box-shadow: 0px 0px 10px aquamarine;
}

#btn2{
    height:40px;
    width:170px;
    border-radius: 25px;
    background-color:aqua;
      margin-left: 20px;  
    font-size:1rem;
    color:white;
    border:none;
    margin-top: 20px;
     box-shadow: 0px 0px 10px aquamarine;
}


.icon{
    display: flex;
   /* margin-right: 10px;  */
     margin-top: 32px;
}

.icon a{
    display:inline-flex;
    justify-content: center;
    align-items:center;
    height:40px;
    width:40px;
    background-color: #0ef;
   background:transparent;
    border:2px solid #0ef;
    border-radius: 50%;
    font-size:20px;
    color:#0ef;
    text-decoration:none;
    margin-left: 32px;
}



#img{
    display: fixed;
    background-image: url("../Assest/leetcodeimage.png ");
    background-size: cover;
    border:2px solid #0ef;
    background-color: #0ef;
    height: 40px;
    width: 40px;
}

#img1{
    display: fixed;
    background-image:url("../Assest/Gfgimage.png") ;
    background-size: cover;
    border:2px solid #0ef;
    background-color: #0ef;
    height: 40px;
    width: 40px;
}

@media(max-width:600px){
    .home{
        flex-direction: column;
        width:100%;
    }

 .info{
    display: flex;
    flex-direction: column;
 }

 #btn2{
    margin-right: 20px;
 }

 #img1{
    height:40px;
    width:40px;
 }
 #img{
    height:40px;
    width:40px;
 }
    
    .home-content{
       margin-top: 50px;
       width:80%;
    }

/* .icon{
    margin-left:3px;
   align-items: center;
    justify-content: center;
} */
}
